<template>
        <ul class="errors" v-if="errors">
                <li class="error-msg wobble" :key="index" v-for="(err,index) in errors">
                    {{ err }}
                </li>
        </ul>
</template>
<script>
export default {
    name:"Error",
    props:['errors']
}
</script>
<style>
   .errors{padding:0;}
    .error-msg{
        padding:8px;
        list-style: none;
        font-size:12px;
        background:rgb(255, 203, 203);
        color:rgb(134, 54, 54);
        border:rgb(224, 165, 165);
        border-radius:4px;
        margin-bottom:10px;
        box-shadow:0 1px 10px rgba(red,0.30);
    }
    .wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes wobble {
  0% {
  -webkit-transform: none;
  transform: none;
  }
  15% {
  -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -5deg);
  transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
  -webkit-transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 3deg);
  transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
  -webkit-transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -3deg);
  transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
  -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 2deg);
  transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
  -webkit-transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes wobble {
  0% {
  -webkit-transform: none;
  transform: none;
  }
  15% {
  -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -5deg);
  transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
  -webkit-transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 3deg);
  transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
  -webkit-transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -3deg);
  transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
  -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 2deg);
  transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
  -webkit-transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  } 
</style>