<template>
  <f7-page>
    <f7-navbar>
      <f7-nav-title>My App</f7-nav-title>
      <f7-nav-right>
        <f7-link icon-if-ios="f7:menu" icon-if-md="material:menu" panel-open="left"></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <f7-block>
          <h1>Welcome to home page</h1>
    </f7-block>
  </f7-page>
</template>
<script>
export default {}
</script>
