<template>
  <f7-page no-toolbar no-navbar no-swipeback login-screen>
    <f7-login-screen-title>Login</f7-login-screen-title>
          <f7-list form>
              <Error :errors="errors" />
            <f7-list-item>
              <f7-label>Email</f7-label>
              <f7-input 
              :value="loginForm.email" 
              name="email" 
              @input="loginForm.email = $event.target.value"  
              placeholder="Email" type="email" 
              required
    validate
    error-message="Please enter a valid email address"
    clear-button></f7-input>
            </f7-list-item>
            <f7-list-item>
              <f7-label>Password</f7-label>
              <f7-input 
              :value="loginForm.password" 
              name="password" 
              @change="noLessSix" 
              type="password" 
              placeholder="Password"
              error-message="Password must be at least 6 characters"
              :error-message-force="noLess"
              required
             clear-button
              ></f7-input>
            </f7-list-item>
          </f7-list>
          <f7-list>
            <f7-list-button title="Sign In" @click="goSignIn"></f7-list-button>
          </f7-list>
          <div class="short-hr"></div>
          <p  class="center"><f7-link href="/signup/" :animate="true">Register?</f7-link></p>
  </f7-page>
</template>

<script>
import {store} from './../store';
import Error from './error'
  export default {
    name:"LoginPage",
    components:{Error},
    data() {
      return {
        errors:[],
        noLess:false,
        loginForm:{
            email: '',
            password: ''
        }
      };
    },
    methods: {
      noLessSix(e){
               this.loginForm.password =e.target.value;
            if (this.loginForm.password.length < 6) {
                this.noLess = true;
            }else{
                this.noLess = false;
            }
      },
       goSignIn(e){
            e.preventDefault();
            let self = this;
            self.errors = [];
            const {email,password} = self.loginForm
            if(!email||!password){
                    self.errors.push("Please do not leave blank.");
                    return;
            }
            if(self.noLess){return}
             self.$f7.preloader.show();
             fetch('http://localhost:1337/auth/local', {
              method:"POST",
              headers: {
                "Content-type":"application/json"
              },
              body: JSON.stringify({
              identifier: email,
              password: password
              })
            })
            .then(e=>e.json())
          .then(response => {
            const {user,jwt,error} = response;
            if(error){
              self.errors.push(response.message)
              self.$f7.preloader.hide();
              return;
            }
            if(!user && !jwt){
                return;
            }
            localStorage.setItem('cool-jwt',jwt)
            localStorage.setItem('cool-user',JSON.stringify(user))
            store.commit("loginUser",response)
            store.commit("isloggedIn", true);
            self.$f7.preloader.hide();
            self.$f7router.navigate('/home/');
          }).catch(error=>{
            self.$f7.preloader.hide();
            self.errors.push('Sorry, something went wrong!')
          })
        } // goSignIn
    }
  };
</script>
