<template>
  <f7-page>
    <f7-navbar title="Left Panel"></f7-navbar>
    <f7-block strong>
      <p>Left panel content goes here</p>
    </f7-block>
    <f7-block-title>Title</f7-block-title>
    <f7-list>
     <f7-list-item @click="logOut" title="Logout"></f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
import {store} from "./../store"
export default {
    methods:{
        logOut(){
            store.commit("logoutUser",{})
            store.commit("isloggedIn",false);
            this.$f7.preloader.show();
            this.$forceUpdate();
            setTimeout(()=>{
              this.$f7.preloader.hide();
              window.location.reload();
            },1000)
        }
    }
}
</script>