<template>
  <f7-page no-toolbar no-navbar no-swipeback login-screen>
    <f7-login-screen-title>Sign Up</f7-login-screen-title>
          <f7-list form>
              <Error :errors="errors" />
            <f7-list-item>
              <f7-label>Username *</f7-label>
              <f7-input 
              :value="registerForm.username" 
              name="username" 
              @input="registerForm.username = $event.target.value"  
              placeholder="Username" type="text" 
              required
    validate
    clear-button></f7-input>
            </f7-list-item>

            <f7-list-item>
              <f7-label>Email *</f7-label>
              <f7-input 
              :value="registerForm.email" 
              name="email" 
              @input="registerForm.email = $event.target.value"  
              placeholder="Email" type="email" 
              required
    validate
    error-message="Please enter a valid email address"
    clear-button></f7-input>
            </f7-list-item>

            <f7-list-item>
              <f7-label>Password *</f7-label>
              <f7-input 
              :value="registerForm.password" 
              name="password" 
              @change="registerForm.password = $event.target.value" 
              type="password" 
              placeholder="Password"
              required
             clear-button
              ></f7-input>
            </f7-list-item>

            <f7-list-item>
              <f7-label>Comfire Password *</f7-label>
              <f7-input 
              :value="registerForm.confirmPass" 
              name="confirmPass" 
              @change="confirming"
              type="password" 
              placeholder="Comfirm Password"
             error-message="Password does not match!"
             :error-message-force="nopassMatch"
             required
             clear-button
              ></f7-input>
            </f7-list-item>

            <f7-list-item>
              <f7-label>Phone</f7-label>
              <f7-input 
              :value="registerForm.phone" 
              name="phone" 
              @input="registerForm.phone = $event.target.value" 
              type="number" 
              placeholder="Phone"
             clear-button
              ></f7-input>
            </f7-list-item>

             <f7-list-item title="User type *" smart-select>
                <select name="usertype"  :value="registerForm.usertype" @change="registerForm.usertype = $event.target.value">
                  <option value="donor" selected>Donor</option>
                  <option value="seeker">Seeker</option>
                </select>
           </f7-list-item>

          </f7-list>
          <f7-list>
            <f7-list-button title="Sign Up" @click="goSignIn"></f7-list-button>
          </f7-list>
          <div class="short-hr"></div>
          <p  class="center"><f7-link href="/login/" :animate="true">Back to login</f7-link></p>
  </f7-page>
</template>

<script>
import {store} from './../store';
import Error from './error'
  export default {
    name:"RegisterPage",
    components:{Error},
    data() {
      return {
        errors:[],
        nopassMatch:false,
        registerForm:{
            username: '',
            email: '',
            password: '',
            confirmPass:'',
            phone:'',
            usertype:'',
        }
      };
    },
    methods: {
      confirming(e){
          this.registerForm.confirmPass = e.target.value;
          if(this.registerForm.confirmPass !== this.registerForm.password){
              this.nopassMatch = true;
          }else{
              this.nopassMatch = false;
          }
      },
       goSignIn(e){
            e.preventDefault();
            let self = this;
            self.errors = [];
            const {username,email,password,phone,usertype} = self.registerForm;
            if(!username||!email||!password||!usertype){
                    self.errors.push("Please do not leave blank.");
                return;
            }
            const checkPass = self.validatePassword(self.registerForm.password);
            if(!checkPass || this.nopassMatch){return}
             self.$f7.preloader.show();
             const isdonor = (usertype === 'donor')?true:false;
             fetch('http://localhost:1337/auth/local/register', {
              method:"POST",
              headers: {
                "Content-type":"application/json"
              },
              body: JSON.stringify({
              username,
              email,
              password,
              phone,
              isdonor
              })
            })
            .then(e=>e.json())
          .then(response => {
            const {user,jwt} = response;
            if(!user && !jwt){
                return;
            }
            localStorage.setItem('cool-jwt',jwt)
            localStorage.setItem('cool-user',JSON.stringify(user))
            store.commit("loginUser",response)
            store.commit("isloggedIn", true)
            self.$f7router.navigate('/home/');
            self.$f7.preloader.hide();
            window.location.reload();
          })
          .catch(error => {
            self.$f7.preloader.hide();
            self.errors.push("Server connection error!")
          });
        } // goSignIn
    }
  };
</script>
