<template>
  <!-- App -->
  <f7-app :params="f7params">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Left Panel -->
    <f7-panel left reveal>
      <f7-view url="/panel-left/"></f7-view>
    </f7-panel>

       <!-- Main View -->
      <f7-view id="main-view" :url="authenticated?'/home/':'/login/'" main></f7-view>
      
    <!-- Popup -->
    <f7-popup id="popup">
      <f7-view>
        <f7-page>
          <f7-navbar title="Popup">
            <f7-nav-right>
              <f7-link popup-close>Close</f7-link>
            </f7-nav-right>
          </f7-navbar>
          <f7-block>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, architecto. Cupiditate laudantium rem nesciunt numquam, ipsam. Voluptates omnis, a inventore atque ratione aliquam. Omnis iusto nemo quos ullam obcaecati, quod.</f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>

  </f7-app>
</template>

<script>
// Import Routes
import router from './routes.js'
import {store} from './store.js'
export default {
    data() {
    return {
      // Framework7 parameters here
      f7params: {
            id: 'io.framework7.testapp', // App bundle ID
            name: 'Framework7', // App name
            theme: 'auto', // Automatic theme detection
            // App routes
            routes: router,
          }
    }
  },
  computed:{
     authenticated(){
       return store.getters.checkLogin;
     }
  }
}
</script>
<style>
    .block-title{
    text-align:center;
    padding:0;
  }
  .block.block-strong{
    width:100vw;
  }
  .small-circle-img{
    width:80px;
    border-radius:100%;
  }
  .center{
    text-align:center;
  }
  .short-hr{
    max-width:448px;
    margin:auto;
    border-bottom:1px solid #eee;
  }
</style>
